.layout {
    display: flex;
    min-height: 100vh;
    background-color: #f9fafb;
}

.mainContent {
    flex: 1;
    margin-left: 260px;
    /* Width of sidebar */
    display: flex;
    flex-direction: column;
    width: calc(100% - 260px);
}

.contentArea {
    flex: 1;
    padding: 32px;
    overflow-x: hidden;
}